@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Code", monospace;
  }
}

body {
  background: #1E1E1E;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.underline-effect::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 7px;
  width: 100%;
  border: 2px solid transparent;
  border-top-color: #fff;
  border-radius: 70%;
}

.underline-effect-scrolled::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 7px;
  width: 100%;
  border: 2px solid transparent;
  border-top-color: #0047C3;
  border-radius: 70%;
}

.translate-to-line {
  animation: descendToLine 0.5s forwards;
}

@keyframes descendToLine {
  to {
      transform: translateY(100%); /* Descend l'image sous la ligne */
      opacity: 0; /* Rend l'image transparente */
  }
}

.animate__animated {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

/* Scrollbar */

/*l'ensemble de la scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* le fond de la scrollbar */
::-webkit-scrollbar-track {
  background: #ABB2BF;
}

/*le bouton de défilement */
::-webkit-scrollbar-thumb {
  background: #0047C3;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFF;
  /* Couleur du thumb au survol */
}